<!DOCTYPE html>
<html>
    <%- include('head') %>

    <body>
        <%- include('header') %>
        <main>
            <%- include('info-section') %>
            <%- include('main-section') %>
        </main>
        <%- include('footer') %>
    </body>
</html>